html{
    scroll-behavior: smooth;  /*Cuando hago click en el navbar se dirige mas fluido a la seccion*/
}


/************
NAVBAR

*********/

.navbar{

    background: #4633af !important;
    transition: all 0.2s;
}


/***************

Hero section

****************/

.section-hero , .section-preview{
    padding: 200px 0px;
    background: url(../images/section-hero/hero-background.jpg)  center center no-repeat ;
    background-size: cover;
}

/**********

Opinions Section

***********/
#carouselOpinions > .carousel-inner{
    padding: 0px 80px;


}
.section-opinions{
    padding: 100px 0px;
    background: #262431;
}

/*********

Features section
***********/

.section-features{
    padding: 160px 0px;
    background: #2f2c3d;
}
.heading-section{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
}
.card-icon > i {
    font-size: 55px;
}
/* SETTING NAV*/
.box-image{
    padding-top: 20px;
}

.nav-tabs{
    justify-content: center;
    border:none;
}

.nav-tabs > .nav-link{
    margin: 10px 0px  20px;
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid #f1f1f8;
    color: #f1f1f8;
    text-decoration: none;
    font-size: 20px;
    transition:all 0.2s ease;
}


.nav-tabs > .nav-link.active,
.nav-tabs > .nav-link:hover{
    border-bottom: 0.1875rem solid #00c9db ;
    background-color: transparent;
    color: #00c9db;
}


/*********
Section preview
*********/

.image-boton-preview-box::before ,.image-boton-preview-box::after {

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #17a2b8;
    transform: translateX(-50%) translateY(-50%);
   

}
.image-boton-preview-box::before{

    animation: border-pulse 1500ms ease-out infinite;

}

.modal-dialog-centered{
    max-width: 700px;
}

@keyframes border-pulse{
    0%{
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


/*********
Section details
*********/

.section-details{
    background-color: #262431;
    padding: 100px 0%;
}
.box-details{
    padding: 30px 0px;
}

/**********
Contact section
*********/
.section-contact-form{
    background-color: #2f2c3d;
    color: white;
    padding: 100px 0px;
}
.box-contact-info{
    padding: 40px 0px;
}
.contact-form-field{
    background-color: #413d52;
    color: white;
}
.contact-form-field:focus{
    border: 1px solid #17a2b8;
    outline: none;
    background-color: #413d52;
    color: white;
    box-shadow: none;
}


/*******

Footer

*******/

footer{
    background-color: #262431;
}
.icon-footer{
    transition: all 0.5s ease;
}
.icon-footer:hover{
    background-color: #ffffff2e;
}

#map-footer{
    max-width: 100%;
    max-height: 100%;
}


.section-copyright{
    background-color:#2f2c3d ;
}


/*********

Media Querys

*******/

@media (min-width: 992px){

    /*Navbar*/
    .navbar{
        background-color: transparent !important;
    }

    
.background-scroll-down{
        background-color: #4633af !important; 
}

}